# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
+ List some of the popular languages that Data Scientists use
+ List some of the commonly used libraries used by Data Scientists
+ List some popular data science tools

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Ggplot2
2. Caret
3. Numpy
4. Matplotlib
5. Pandas

|Data Science Tools|
|------------------|
| Git |
| Visual Studio |
| Docker |

### Below are a few examples of evaluating arithmetic expressions in Python

In [13]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [15]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Teddy Mark Echessah